/* -----------------read story--------------------- */


/* ---------media query----------------- */

/* @media screen and (max-width: 1240px) {
  .readstory-container {
    margin-left: 600px;
  }
}

@media screen and (max-width: 800px) {
  .readstory-container {
    margin-left: 800px;
  }
  .readstory-content {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 200px;
  }
  .text-content{
    font-size: 30px;
  }
  .header1{
    font-size: 32px;
  }
  .readstory-button1{
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  .readstory-container {
    margin-left: 800px;
  }
  .readstory-content {
    flex-direction: column;
  gap: 40px;
    margin-bottom: 400px;
  }

  .text-content{
    font-size: 30px;
  }
  .header1{
    font-size: 32px;
  }
  .readstory-button1{
    font-size: 10px;
  }
}  */
