body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
a {
  color: inherit !important; /* Inherits the color from the parent element */
  text-decoration: none !important; /* Removes underline */
}





